Django==4.2.9
django-bootstrap4
django-cors-headers
djangorestframework
numpy
oauthlib
pandas
psycopg2-binary
ytest
python-dotenv
python-fsutil
python3-openid
pytz==2023.3.post1
PyYAML
requests
scipy
six
